body{
    background-color: #E9E5EB;
    background-image: url('../Slike/felina2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

h1{
    cursor: pointer;
    text-align: left;
    color: #ffffff;
}

a{
    color: #ffffff !important;
}

.social-icons a {
    font-size: 24px;
}

.social-icons a:hover {
    color: #ffffff;
}

.list-unstyled {
    line-height: 2.5; 
}

.pop-up {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}
  .pop-updiv {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

textarea {
    resize: none;
}
