h1 {
    cursor: pointer;
    float:left;
    color:#ffffff;
}

body{
    background-color: #EBEBEB;
    font-family: 'Poppins', sans-serif;
}

a{
    color: #ffffff !important;
}

.social-icons a {
    font-size: 24px;
}

.social-icons a:hover {
    color: #ffffff;
}